# Churn Telecommunicatoin Classification

Isaiah Jenkins

## Import the required libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.preprocessing import StandardScaler

Matplotlib is building the font cache; this may take a moment.

## 1. About the data

1. a. Description

   For this dataset we will explore the telecommuniaction churn dataset for predicting customer churn. Typically it's less expensive to keep current cusomters. Thus, this analysis will focus on customers who stay witihin the company.

1. b. Attributes Summary

   There are 28 features that will help use predict which behaviors that help retain customers. Throughout further exploration and feature engineering I plan to focus on relevant variables involving demography, account information and services used. The target variable will be the churn.

## 2. Objectives

Throughout this analysis we will build and compare different classificaiton models to achieve the best classification accruacy with a balanced dataset. By the end of this exploration I hope to learn more about customer behavior towards churn.

## 3. Data Exploration, Cleaning and Feature Engineering

The Plan:

1. Explore the dataset's structure, including the number of rows, features, data types and any missing values.
2. Perform basic statistical analysis such as calculating descriptive statistics (mean, median) for numerical features and value counts for categorical features to identify potential issues like outliers.
3. Create data visualizations such as box plots to visually inspect the distributions and relationships between variables.
4. Feature engineer relevant columns and create a combined dependent variable from all the waves for the duration of relationship.

### Load in data

In [4]:
churn_data = pd.read_csv('./data/ChurnData.csv')

In [5]:
churn_data.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0

In [6]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tenure    200 non-null    float64
 1   age       200 non-null    float64
 2   address   200 non-null    float64
 3   income    200 non-null    float64
 4   ed        200 non-null    float64
 5   employ    200 non-null    float64
 6   equip     200 non-null    float64
 7   callcard  200 non-null    float64
 8   wireless  200 non-null    float64
 9   longmon   200 non-null    float64
 10  tollmon   200 non-null    float64
 11  equipmon  200 non-null    float64
 12  cardmon   200 non-null    float64
 13  wiremon   200 non-null    float64
 14  longten   200 non-null    float64
 15  tollten   200 non-null    float64
 16  cardten   200 non-null    float64
 17  voice     200 non-null    float64
 18  pager     200 non-null    float64
 19  internet  200 non-null    float64
 20  callwait  200 non-null    float64
 21  confer    200 non-null    float64
 22  ebill     200 non-null    float64
 23  loglong   200 non-null    float64
 24  logtoll   200 non-null    float64
 25  lninc     200 non-null    float64
 26  custcat   200 non-null    float64
 27  churn     200 non-null    float64
dtypes: float64(28)
memory usage: 43.9 KB

## 4. Classification Models

### Summary of Models

## 5. Insights and Key Findings

## 6. Next Steps